[submodule "flash-attention"]
	path = flash-attention
	url = https://github.com/Dao-AILab/flash-attention.git
[submodule "llama-recipes"]
	path = llama-recipes
	url = https://github.com/meta-llama/llama-recipes.git
[submodule "llama3"]
	path = llama3
	url = https://github.com/meta-llama/llama3.git
[submodule "transformers"]
	path = transformers
	url = https://github.com/huggingface/transformers.git
